/* Main Dashboard Container */
.dashboard-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Header Section */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 20px;
  margin-top: 20px;
  color: #000000;
}


/* Main Container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding: 20px;
}

/* Chat Container */
.chat-container {
  background-color: #2b2b2b;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

/* Chat Box */
.chat-box {
  overflow-y: auto;
  height: 60%;
  padding: 15px;
  background-color: #1e1e1e;
  border-radius: 8px;
  border: 1px solid #444;
  margin-bottom: 20px;
}

/* Scrollbar for Chat Box */
.chat-box::-webkit-scrollbar {
  width: 6px;
}

.chat-box::-webkit-scrollbar-track {
  background-color: #333;
}

.chat-box::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 8px;
}

/* Message Styles */
.message {
  padding: 12px 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  word-wrap: break-word;
}

/* User Message */
.message.user {
  background-color: #347ff1;
  color: #fff;
  align-self: flex-end;
  text-align: right;
}

/* Assistant Message */
.message.assistant {
  background-color: #333;
  color: #f1f1f1;
  align-self: flex-start;
  text-align: left;
}

/* File Input */
.custom-file-input {
  background-color: #333;
  color: #f1f1f1;
  border: 1px solid #555;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

/* Upload Button */
.btn-primary {
  background-color: #525c6b;
  border-color: #0b5ed7;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #6d99db;
}

/* File Uploaded Message */
.text-info {
  text-decoration: none;
  color: #0a1e3c;
}

.text-info:hover {
  text-decoration: underline;
}


/* Mobile Responsiveness */
@media (max-width: 768px) {
  .header-container,
  .chat-container {
    width: 80%;
  }

  .chat-box {
    height: 50%;
  }

  .btn-logout {
    padding: 6px 12px;
    font-size: 14px;
  }

  .btn-primary,
  .btn-download {
    font-size: 14px;
  }
}
